.navbar {
    background: transparent;
    position: absolute;
    padding: 16px 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
  }
  
  .navbar-logo {
    width: 100px;
  }
  
  .navbar-menu {
    display: flex;
    list-style: none;
    gap: 10px;
    color: #ffff;
    font-size: 16px;
    font-family: Inter, sans-serif;
    margin-right: 20px;
    padding: 0;
  }
  
  .navbar-buttons {
    display: flex;
    gap: 10px;
    align-items: center;
  }
  
  .navbar-button {
    background-color: #ffff;
    font-size: 16px;
    color: black;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    transition: 0.3s;
  }
  
  .navbar-button:hover {
    background-color: #33623E;
    color: #ffff;
  }
  
  .navbar-menu li {
    padding: 10px 15px;
    position: relative;
    transition: all 0.2s ease;
    cursor: pointer;
  }
  
  .navbar-menu li.active {
    background-color: transparent;
  }
  
  .navbar-menu li::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #33623E;
    transform: scaleX(0);
    transition: transform 0.3s ease;
  }
  
  .navbar-menu li.active::after {
    transform: scaleX(1);
  }
  